npm-debug.log
node_modules/
dist/
# Ignore all .vsix files
*.vsix

# Exception: do not ignore files ending with 81.vsix
!*172.vsix

# JUNIT testresult
test-results.xml

# Coverage directory used by tools like istanbul
coverage
*.lcov

*.how